<div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<div class="mb-3">
  <label for="filterText" class="form-label">Ürün Arama</label>
  <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="ürün ara">
</div>
<div *ngIf="filterText" class="alert alert-success">
{{filterText}} aradınız
</div>
<table *ngIf="dataLoaded==true" class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Ürün adı</th>
      <th>Kategori</th>
      <th>Fiyat</th>
      <th>Kdvli Fiyat</th>
      <th>Stok Adedi</th>
    </tr>
  </thead>
  <tr *ngFor="let product of products">
    <td>{{ product.productId }}</td>
    <td>{{ product.productName| uppercase }}</td>
    <td>{{ product.categoryId }}</td>
    <td>{{ product.unitPrice }}</td>
    <td>{{ product.unitPrice | watAdded:10 | currency}}</td>
    <td>{{ product.unitsInStock }}</td>
  </tr>
</table>
